<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lufengxue.user.mapper.UserMapper">
<!--    <insert id="insert" parameterType="org.lufengxue.user.pojo.po.UserPo" >-->
<!--    <insert id="insert" parameterType="string">-->
<!--        insert into ele_user where name =#{name}-->
<!--    </insert>-->
    <!--添加用户数据-->
        <insert id="insert" parameterType="org.lufengxue.user.pojo.dto.UserDto" >

        insert into ele_user
                    (name,password,sex,phone,created_date,updated_date)
                    value (#{name},#{password},#{sex}, #{phone},#{createdDate},#{updatedDate})
    </insert>
    <!--更新数据-->
    <update id="updateUser" parameterType="org.lufengxue.user.pojo.dto.UserDto">
        update
                ele_user
        set
                name =#{name},password=#{password},sex =#{sex}, phone =#{phone},
                created_date =#{createdDate},updated_date =#{updatedDate}
        where
                id=#{id}
    </update>
    <!--根据用户id删除数据-->
    <delete id="deleteId" parameterType="int">
        delete from ele_user where id=#{id}
    </delete>

    <!--  根据用户名查询查询 -->
    <select id="findByName" resultType="org.lufengxue.user.pojo.dto.UserDto">
        select * from ele_user where username=#{username}
--            select * from tb_user where name=#{name}
    </select>
    <!--查询所有数据-->
    <select id="findAll" resultType="org.lufengxue.user.pojo.dto.UserDto">
        select * from ele_user
    </select>

</mapper>