<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lufengxue.elevator.mapper.ElevatorMapper">



    <!--查询电梯接用户表中的电梯状态-->
    <select id="findButtonSheet" resultType="org.lufengxue.elevator.pojo.elevatorDto.CallElevaterDto">
        SELECT elevator_state,liftFloor,isDown,meLevel,floor_name FROM ele_call where floor_name =#{floorNme}
    </select>


    <!--电梯接用户后把数据更新到数据库中 查出来-->
    <update id="updateCallElevator">
          update ele_call set elevator_state =#{elevatorState},liftFloor =#{liftFloor},isDown =#{isDown},meLevel =#{meLevel} where floor_name =#{floorName}

    </update>
    <!--    <select id="callElevator" resultType="org.lufengxue.elevator.pojo.elevatorDto.CallElevaterDto">-->
<!--        SELECT floor_name,elevator_state,liftFloor FROM ele_call where floor_name =#{floorNme}-->
<!--    </select>-->


    <!-- 根据 客户点击的目标楼层集合 电梯运送客户-->
    <select id="targetElevator" resultType="org.lufengxue.elevator.pojo.elevatorDto.GoTargetDto">
        select total_time from  ele_target
    </select>

</mapper>